@import url(./_theme/table_theme_dark.css);
@import url(./__cell/table__cell.css);
@import url(./__cell/_theme/table__cell_theme_dark.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./__footing/table__footing.css);

.table {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-column-gap: 33px;
  grid-row-gap: 60px;
  /*border: 1px solid red;*/
  flex-direction: row;
  justify-content: flex-start;
  width: 1100px;
  padding-top: 60px;

}
