@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);

.feinman {
  background-image: url(./feinman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  /* А нужно ли здесь было justify-content: flex-start;*/
  height: 790px;
  /*width: 867px;*/
  padding-top: 80px;
  position: relative;
}
