/*.header {*/
  /*border: 1px solid red;*/

/*}*/
/*div {*/
  /*border: 1px solid green;*/

/*}*/

/*.header__title {*/
  /*border: 1px solid blue;*/
/*}*/

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background-color: #F2F2F2;
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
  height: 32px;
  width: 183px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  width: 730px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 1;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

}

.header__square-pic {
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  position: absolute;

}

.header__bottom-text {
  font-size: 18px;
  width: 50%;
  position: relative;
  bottom: 30px;
  left: 40px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0;

}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;

}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-column-gap: 33px;
  grid-row-gap: 60px;
  /*border: 1px solid red;*/
  flex-direction: row;
  justify-content: flex-start;
  width: 1100px;
  padding-top: 60px;

}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__footing {
  margin-top: 20px;
}

.feinman {
  background-image: url(/images/feinman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 790px;
  /*width: 867px;*/
  padding-top: 100px;
  position: relative;
}

.feinman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #1f1f1f;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.table_theme_dark {
  grid-template-columns: repeat(5, 200px);
  grid-column-gap: 25px;
  grid-row-gap: 80px;
  padding-top: 80px;
  z-index: 0;
}

.section-title_theme_dark {
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    /*margin-top: 80px;*/
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  /*height: 100%;*/
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding: 60px auto 40px;*/

}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.footer__column-link:link {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-link:hover {
  color: #2f80ed;
  text-decoration: underline;
}

.footer__column-link:visited:hover {
  color: #2f80ed;
  text-decoration: underline;
}

.footer__column-link:visited {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

